.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  border: 1px solid black;
  background-color: honeydew;
  border-radius: 1rem;
  min-width: 300px;
  min-height: 200px;
  margin: 3rem;
  margin-left: 5rem;
  padding: 2rem;
}

.card-img {
  width: 100px;
}

.card-temp {
  font-size: 5rem;
}

.card-temp-smaller {
  font-size: 1.5rem;
}

.card-day {
  text-align: center;
  font-size: 1.5rem;
}
