* {
  padding: 0;
  margin: 0;
}

body {
  background: URL(https://cdn.pixabay.com/photo/2020/08/11/21/39/clouds-5481190_960_720.jpg);
  /* background: URL(https://th.bing.com/th/id/R.360046b4c7ead954dfef9b60e9a1465b?rik=TJNg9xdUHZLoWA&riu=http%3a%2f%2fwww.solofondos.com%2fwp-content%2fuploads%2f2016%2f08%2fwallpapersden.com_small-memory_3840x2160-scaled.jpg&ehk=nAjkhtHxdqeqKksCWNq5COvVusyaFsRX%2btuU7FmKBwg%3d&risl=&pid=ImgRaw&r=0); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.city-title {
  align-self: center;
  text-align: center;
}

.row {
  display: flex;
}

.row-around {
  display: flex;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
}

.relative {
  position: relative;
}

.margin-top-1 {
  margin-top: 1rem;
}
