.navbar {
  background-color: rgba(0, 0, 0, 0.205);
  color: white;
  height: 1rem;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.5rem;
  position: relative;
}

.searchbar{
  width: 210px;
}

.search-container{
  display: none;
  right: 300px;
  background-color: white;
  width: 200px;
  height: fit-content;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 0rem 0.3rem 0.3rem 0.3rem;
}

.search-container-item{
  width: 90%;
  border-top: 1px solid grey;
  height: fit-content;
  padding-top: 1rem;
  padding-left: 1rem;
  color: black;
  text-align: center;
}

.search-container-item:hover{
  background-color: grey;
}
